    <div class="header-img">
        <img src="img/walk3.png" alt="">
    </div>
    <section class="homepage-container">
        <div class="home-content">
            <ul class="home-tab nav-exp">
                <li><a href="/" class="home-products">Products</a></li>
                <li><a href="/about" class="home-about">About</a></li>
                <li><a href="/inquiries" class="home-inquiries">Inquiries</a></li>
                <li><a href="/contactus" class="home-contactus">Contact Us</a></li>
            </ul>
        </div>
    </section>
    
