<div class="parent-container parent-container-max">
    <div class="nav-bar">
        <img class="img-logo" src="img/walk1.png" alt="">
        <span class="home-logo home-logo-max">
            <a href="/"><span class="app-name show">TEST APP</span></a>
            <i class="ri-arrow-left-s-line"></i>
            <i class="ri-arrow-right-s-line hidden"></i>
            <hr>
        </span>
        <ul class="nav-list">
            <li><a href="/" class="home-home"><i class="ri-home-8-fill"><h3 class="nav-text show">Home</h3></i></a></li>
            <li><a href="/order" class="home-use-man"><i class="ri-id-card-fill"><h3 class="nav-text show">Order</h3></i></a></li>
            <li><a href="/" class="home-pla-hol1"><i class="ri-map-pin-fill"><h3 class="nav-text show">Placeholder1</h3></i></a></li>
            <li><a href="/" class="home-pla-hol2"><i class="ri-earth-fill"><h3 class="nav-text show">Placeholder2</h3></i></a></li>
        </ul>
    </div>
</div>