<div class="modal-details nav-exp">
    <div class="modal-container">
        <div class="details-content">
                <div class="details-text">
                    Details
                </div>
                <div class="field-close">
                    <button id="close">Close</button>
                </div>
        </div>
    </div>
</div>