<div class="modal-orderDelete nav-exp">
    <div class="modal-delContainer">
        <div class="modal-content">
            <div class="product-fields">
                <div class="field-header">
                    Do you really want to delete this record?
                </div>
                <div class="field-item">
                    <button id="confirm">Confirm</button>
                    <button id="cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>