<%- include('../include/_header') %>
<%- include('../include/_navbar') %>
<%- include('../homepage') %> 
<div class="product-container nav-exp">
    <div class="product-header">
        <h2>About</h2>
    </div>
</div>
<%- include('../include/_footer') %>