    <div class="product-container nav-exp">
        <div class="product-header">
            <h2>All Products</h2>
        </div>
        <div class="product-child-con">
            <div class="product-items">
                <div class="img-items">
                    <img src="img/th (1).jpg" alt="">
                </div>
                <div class="item-text">
                    Chevrolet Camaro
                </div>
                <div class="item-text">
                    Price: $500,000
                </div>
                <button id="buy1" class="button-buy">Buy</button>
                <button id="detail1" class="button-details">Details</button>
            </div>
            <div class="product-items">
                <div class="img-items">
                    <img src="img/th3.jpg" alt="">
                </div>
                <div class="item-text">
                    Toyota Supra MK4
                </div>
                <div class="item-text">
                    Price: $100,000  
                </div>
                <button id="buy2" class="button-buy">Buy</button>
                <button id="detail2" class="button-details">Details</button>
            </div>
            <div class="product-items">
                <div class="img-items">
                    <img src="img/th.jpg" alt="">
                </div>
                <div class="item-text">
                    Ford Mustang
                </div>
                <div class="item-text">
                    Price: $300,000  
                </div>
                <button id="buy3" class="button-buy">Buy</button>
                <button id="detail3" class="button-details">Details</button>
            </div>
            
            <div class="product-items">
                <div class="img-items">
                    <img src="img/lambo1.jpg" alt="">
                </div>
                <div class="item-text">
                    Chevrolet Camaro
                </div>
                <div class="item-text">
                    Price: $500,000
                </div>
                <button id="buy4" class="button-buy">Buy</button>
                <button id="detail4" class="button-details">Details</button>
            </div>
            <div class="product-items">
                <div class="img-items">
                    <img src="img/lambo2.jpg" alt="">
                </div>
                <div class="item-text">
                    Toyota Supra MK4
                </div>
                <div class="item-text">
                    Price: $100,000  
                </div>
                <button id="buy5" class="button-buy">Buy</button>
                <button id="detail5" class="button-details">Details</button>
            </div>
            <div class="product-items">
                <div class="img-items">
                    <img src="img/lambo-169.jpg" alt="">
                </div>
                <div class="item-text">
                    Ford Mustang
                </div>
                <div class="item-text">
                    Price: $300,000  
                </div>
                <button id="buy6" class="button-buy">Buy</button>
                <button id="detail6" class="button-details">Details</button>
            </div>
        </div>
        <%- include('../modal/_buy')%>
        <%- include('../modal/_details')%>
    </div>
</section>